# Ignore local configuration files
.env
.config
.pypirc

# Ignore temporary files
*.tmp
*.bak

# Ignore Python build artifacts
__pycache__/
*.pyc
*.pyo

# Ignore Python virtual environments
venv/
env/

# Ignore logs
*.log

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore local or temporary Power BI files
*.pbix~
drafts/
